{
    "nearbyDedupeMinutes": 60,
    "includesDedupeMinutes": 240,
    "hashPrecision":3,
    "myCall":"XXXXX",
    "beacons": {
        "myHouse":
            {
                "myLat": 37.129212,
                "myLong": -121.12312,
                "reportCloserThanDistanceMiles": 1.0,
                "pushoverUser": "XXX",
                "pushoverToken": "XXX",
                "exclude": ["XXXXX-10"],
                "include": ["XXXXX", "XXXXX-2"],
                "timezone": "America/Los_Angeles"
            }
    }
}

